* {
    margin: 0;
    padding: 0px;
}
body{
    text-align: center;
}
header{
    display: block;
	justify-content: space-between;
	align-items: center;
	background-color: #4a1c69;
	padding: 15px;
}
nav {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a {
    padding: 15px;
    color:#fff;
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
    transition: background .5s;
}
button{
    color:#ffffff;
    background-color:#4a1c69;
    width: 75px;
    height: 25px;
    border: none;
    cursor: pointer;
    transition: background .5s;
    border-radius: 5px;
}

.btn:hover{
    background-color: #9277a3;
}

#menu-h a:hover{
    background-color:#9277a3;
}

.container{
    width: 100vw;
    height: 88vh;
    background: #9277a3;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.box{
    width: 350px;
    height: 180px;
    background: #fff;
    align-content: center;
    }