body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #b5bcff; 
}
h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 0.1em 0.1em 0.2em rgb(29, 41, 107)
}
.botao{
    background-color: #36249e;
    border: none;
    border-radius: 35px;
    padding: 12px 30px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
.botao:hover {
    background-color: #6da0cb;
     transition: all 0.4s ease;
     color: #fff;
 }
.mensagem p {
    color: #000000;
    font-size: 21px;
}

.mensagem {
    display: flex;
    justify-content: center;
    border: 2px solid #403b8d;
    width: 350px;
    height: auto;
    box-shadow: 1px 9px 21px #0a09094f;
}
.linha {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}